services:
  master:
    build: ./Base
    container_name: hadoop-master-simple
    hostname: master
    environment:
      - NODE_TYPE=master
      - ENABLE_HIVE=false
    ports:
      - "9870:9870" # NameNode Web UI
      - "8088:8088" # ResourceManager Web UI
      - "9000:9000" # HDFS
      - "19888:19888" # MapReduce Job History Server
      - "10000:10000" # HiveServer2 Thrift (Beeline)
      - "10002:10002" # HiveServer2 Web UI
      - "9083:9083" # Hive Metastore
    networks:
      - hadoop-net
    volumes:
      - master-data:/tmp/hadoop-hadoop
      - ./ejercicios:/home/hadoop/ejercicios

networks:
  hadoop-net:
    driver: bridge

volumes:
  master-data:


